:root
{
    --main-font-family: 'Poppins', sans-serif;
}
body
{
    background-color: black;
    overflow-x: hidden;
    margin: 0;
}
body::-webkit-scrollbar {
    width: 12px;               
  }
  
body::-webkit-scrollbar-track {
background: black;        
}
  
body::-webkit-scrollbar-thumb {
background-color: white;  
border: .1895vw solid black; 
}
main
{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    font-family: var(--main-font-family);

}

/* DEBUT CODE DU HEADER */

h1
{
    transition: 1000ms;
    transform: translateX(-63.1712vw);
    
    margin:0;
    font-weight: 400;
    font-family: 'Qwigley', cursive;
    font-size: 8.0859vw;
}
#berne-background
{
    padding-top: 8.5913vw;
    z-index: -1;
    height: 50vw;
    position: fixed;
    top:0;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("media/bern.webp");

    width: 100vw;
}
#background-fix
{
    height: 50vw;
}

#header-menu
{
    transition: all 0.5s ease-in-out;
    z-index: 2;
    position:fixed;
    display: flex;
    height: 4.422vw;
    background-color: black;
    width: 100vw;

}
#header-menu #links
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.422vw;
    gap:4.422vw;
}
#header-menu #links a
{
    text-decoration: none;
    color:white;
    font-size: 1.5161vw;
}

#header-menu a:hover
{
    opacity: 75%;
    color:white;
    transform:translateY(-0.1895vw);
}
#header-menu a
{
    transition: all 0.3s ease-in-out;
}
#header-menu #icons
{
    gap:2.8427vw;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 3.2849vw;
}
#header-menu #icons svg
{
    width: 1.8951vw;
    height: 1.8951vw;
    fill:white;
}
.logo
{
    width: fit-content;
    align-self: flex-start;
    gap:.6317vw;
    height: 3.5376vw;
    padding-left: 1.2003vw;
    display: inline-grid;
    box-sizing: border-box;
    font-family: 'Monda', sans-serif;
    font-size: 2.7795vw;
    color:white;
}
.logo img
{
    padding-top: .8844vw;
    grid-column: 2;

    margin-top:0px;
    width: 1.2634vw;
    height: 1.2634vw;
}

/* FIN CODE DU HEADER */

/* DEBUT CODE DU CONTENT */
#container
{
    background: url("media/circle-top-left.svg"), url("media/circle-middle-left.svg"), url("media/circle-pre_end-right.svg");
    background-repeat: no-repeat;
    background-position: top left, center left, top 60% right;
    background-size: 10vw;
    background-color: #F4F4F4;
}

.button-content
{
    transition: all 0.3s ease-in-out;
}
.button-content:hover
{
    opacity: 90%;
}
.see-more
{
    align-items: center;
    display: flex;
    border-radius: .6317vw; 
    font-size: 1.5161vw;
    padding: .4422vw 2.1478vw;
    background-color: black;
    color:white;
    text-decoration: none;
}
.btncircle
{
    transition: all 0.5s ease-in-out;
    margin-left:-1.0739vw;
    display: block;
    box-shadow: .3159vw .2527vw .379vw rgba(0, 0, 0, 0.25);
    border-radius: 4.422vw;
    grid-row: 2;
    height: 2.211vw;
    width: 2.211vw;
    background-image: url("media/arrow.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.6425vw;
    background-color: white;
}
.btncircle-newsletter
{
    display: block;
    box-shadow: .3159vw .2527vw .379vw rgba(0, 0, 0, 0.25);
    border-radius: 4.422vw;
    height: 2.211vw;
    width: 2.211vw;
    background-image: url("media/arrow.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.6425vw;
    background-color: white;
    transform: rotate(270deg)translateY(-1.685vw);
}
.button-content
{
    width: fit-content;
    display: flex;
    align-items: center;
}
.important-text
{
    gap:1.8951vw;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    display: grid;
    background-image: url("media/ours.svg");
    background-repeat: no-repeat;
    background-position:110% bottom;
    background-size: 40vw;
    padding-top: 13.8977vw;
    padding-left: 12.3184vw;
    font-size: 2.0215vw;
}

.important-text #text1
{
    margin: 0;
    grid-row: 1;
}
.important-text #text2
{
    padding-bottom: 4.422vw;
    margin: 0;
    grid-row: 3;
}
#ours1
{
    width: fit-content;
    grid-row: 1;
    grid-column: 2;
    height: 535px;
}
#img-div
{
    display:grid;
    row-gap: 6.9488vw;
}
.img-content-1
{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
}
.img-content-2
{
    width: fit-content;
    position: relative;
    display: grid;
    grid-template-columns: 18vw auto;
}
.img-content-3
{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
}

.img-content-1 .img-start-div
{
    position: relative;
    display: grid;
    grid-row: 1;
    grid-column: 2;
    justify-content: center;
    grid-template-columns: 30vw 30vw;
}
.img-content-2 .img-center-div
{
    position: relative;
    display: grid;
    grid-row: 1;
    grid-column: 2;
    grid-template-columns: 30vw 30vw;
}
.img-content-3 .img-end-div
{
    position: relative;
    display: grid;
    grid-row: 3;
    grid-column: 2;
    justify-content: center;
    grid-template-columns: 30vw 30vw;
}
.img-show
{
    border-radius: .6317vw;
    box-shadow: -0.3159vw .6317vw .2527vw rgba(0, 0, 0, 0.2);
}
#imgstart
{
    transition: 1000ms;
    grid-row: 1;
    grid-column: 1/3;
    height: auto;
    width: 100%;
    justify-self: flex-end;
}
#imgmiddle
{    
    transition: 500ms;
    grid-row: 2;
    grid-column: 1/3;
    height: auto;
    width: 100%;
}
#imgend
{
    transition: 500ms;
    grid-row: 3;
    grid-column: 1/3;
    height: auto;
    width: 100%;
    justify-self: flex-end;
}

#shape1
{
    margin: -4.5483vw -11.3076vw;
    height: 33vw;
    width: 25vw;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    justify-self: start;
    align-self: end;
}
#shape2
{
    margin: -4.5483vw -11.3076vw;
    height: 33vw;
    width: 25vw;
    grid-row: 1;
    grid-column: 2;
    z-index: 1;
    align-self: end;
    justify-self: end;
}
#shape3
{
    margin: -4.5483vw -11.3076vw;
    height: 33vw;
    width: 25vw;
    grid-row: 3;
    grid-column: 1;
    z-index: 1;
    justify-self: start;
    align-self: end;
}
#topshape
{
    box-shadow: .3159vw .2527vw .379vw rgba(0, 0, 0, 0.25);
    height: 75%;
    border-radius: 1.2634vw 1.2634vw 0px 0px;
    background-color: white;
}
#topshape h2
{
    font-size: 2.0215vw;
    padding-top:3.1586vw;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
}
#topshape p
{
    font-style: normal;
    font-weight: 400;
    padding: 1.5161vw;
    font-size: 1.2634vw;
    padding-top: 3.1586vw;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0;
}
#bottomshape
{
    display: flex;
    width: 100%;
    box-shadow: .3159vw .2527vw .379vw rgba(0, 0, 0, 0.25);
    height: 20%;
    background-color: black;
    border-radius:0px 0px 1.2634vw 1.2634vw;
    align-items: center;
    justify-content: center;
}
.divbutton
{  
    transition: all 0.3s ease-in-out;
    display: inline;
    font-size: 1.0107vw;
    text-align: center;
    margin:0;
    width: 100%;
    height: 100%;
    color:white;
    border-radius:0px 0px 1.2634vw 1.2634vw;
    text-decoration: none;
}
.divbutton:hover
{
    opacity: 90%;
}
.buttonfloat
{
    display: inline;
    height: 3.1586vw;
    width: 3.1586vw;
    position: absolute;
    left:23.0575vw;
    background-size: 2.211vw;
}
.centerbutton
{

    left:88.8000vw;

}

h3
{
    
    text-shadow: .1263vw .2527vw .2527vw rgba(0, 0, 0, 0.5);
    font-weight: normal;
    color:white;
    font-size: 6.0644vw;
    margin:0;
}
#banner
{
    display: grid;
    margin-top: 9.602vw;  
}
#banner img
{
    height: auto;
    width: 8vw;
    justify-self: center;
    border: solid white .1263vw;
    background-color: white;
    border-radius: 0px 0px 4.6747vw 4.6747vw;
    z-index: 1;
    grid-row: 1;
    grid-column: 1;
}

#banner-background
{
    filter:brightness(75%);
    grid-row: 1;
    grid-column: 1;
    height: 45vw;
    width: 100%;
    background-image:url("media/bus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;  
}
#banner-content
{
    justify-self: center;
    align-self: center;
    flex-direction: column;
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
}
#btfbern
{
    background-image: url("media/circle-bottom-left.svg");
    background-size: 25vw;
    background-repeat: no-repeat;
    background-position: top -12.6342vw left;
    overflow: hidden;
    padding-top: 7vw;
    display: flex;
    height: fit-content;
    align-items: center;
    column-gap: 3.1586vw;
    font-size: 2.0215vw;
    margin-right: -6.3171vw;
    padding-bottom: 7vw;
}
#bfttop
{
    overflow: hidden;
    margin-left: 12.3184vw;
}
#imgbatiment
{
    background-image: url("media/batiment.jpg");
    box-shadow: -0.3159vw .6317vw .2527vw rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 31.5856vw;
    height: 31.5856vw;
    border-radius: 315.856vw;
    transform: translateX(6.3171vw) translateY(8.844vw);
}
/* FIN CODE CONTENT */

/* DEBUT CODE FOOTER */
#footerheader
{
    z-index: 1;
    height: 4.422vw;
    align-items: center;
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
#iconlink
{
    margin-right: 1.0107vw;
    display: flex;
    column-gap:1.2634vw;
    justify-self: flex-end;
}
#iconlink img
{
    height: 2.211vw;
    width: 2.211vw;
}
.newsletterbutton div
{
    transition: all 0.3s ease-in-out;
    border-radius: 1.8951vw;
    align-items: center;
    display: flex;
}
.newsletterbutton
{
    padding-left: 1.1175vw;
    justify-self: center;
}
.newsletterbutton div:hover
{
    cursor: pointer;
    opacity: 75%;
    transition: all 0.3s ease-in-out;
}
.newsletterbutton p
{

    user-select: none;
    font-size: 1.5161vw;
    margin: 0;
    border: solid .0632vw white;
    padding: .4422vw 1.2634vw;
    border-radius: 1.8951vw;
    transition: all 1s ease-in-out;
    color: rgb(255, 255, 255)

}
.newsletter-activate-button p
{
    font-size: 0px;
    color: rgba(255, 255, 255, 0);
    padding: 1.5793vw;
}

#iconlink img:hover
{
    opacity: 80%;   
    transform:translateY(-0.1895vw);
}
#iconlink img
{
    transition: all 0.3s ease-in-out;
}
#footerlinks
{
    z-index: 2;
    grid-row: 2;
    grid-column: 1;
    background-image: url("media/circle-bottom-right.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 12.6342vw;
    display: flex;
    justify-content:space-evenly;
    margin-top:4.7378vw;
    padding-bottom: 4.7378vw;
}
#footerlinks a
{
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: black;
    font-size: 1.0107vw;
    width: fit-content;
}
#footerlinks a:hover
{
    opacity: 75%;
    text-decoration: underline;
}
.linktitle
{
    margin: 0;
    font-weight: 500;
    font-size: 2.0215vw !important;
}
#plusfooter
{
    row-gap: 1.7688vw;
    display: flex;
    flex-direction: column;
}
#menufooter
{
    row-gap: 1.7688vw;
    display: flex;
    flex-direction: column;
}
#decfooter
{
    row-gap: 1.7688vw;
    display: flex;
    flex-direction: column;
}
.separate-bar
{
    border-left: .0632vw solid black;
    padding-left: 1.0107vw;
}
footer
{
    display: grid;
    transition: background-color 1000ms ease-out;
}

#footerreplace
{
    background-image: url("media/circle-bottom-right-2.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 12.6342vw;
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    grid-column: 1;
    transition: all 0.5s ease;
    opacity: 0%;
}
#footerreplace p
{
    font-size: 2.0215vw;
}
#footerreplace input
{
    transition: all 0.5s ease-in-out;
    border: solid .0632vw white;
    text-align: center;
    display: flex;
    width: 22.1099vw;
    font-size: 1.0107vw;
    padding: .8212vw 1.2634vw;
    color: white;
    background-color: black;
    border-radius: 1.8951vw;
}
#footerreplace input::placeholder
{
    box-sizing: content-box;
    text-align: center;
    color:rgba(255, 255, 255, 0.500);

}
#footerreplace button
{
    transition: 500ms;
    cursor: pointer;
    color: white;
    border: solid white .0632vw;
    background-color: black;
    font-size: 1.5161vw;
    margin-top: 3.4744vw;
    padding:.4422vw 3.3481vw;
    border-radius: .6317vw;
}
#footerreplace button:hover
{
    opacity: 75%;
}
.footerreplacevisible
{
    z-index: 3;
    background-color: black;
    opacity: 100% !important;
}
form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 575.98px){

#header-menu
{
    height: 70px;
}
h1
{
    padding-top: 80px;
    margin: auto;
    line-height: 120px;
    text-align: center;
    transform: translateY(1.2003vw);
    font-size: 128px;
}   
#berne-background
{
    height: 100vh;
    background-size: cover;
    background-position: top left;
}
#background-fix
{
    height: 100vh;
}
.logo
{
    gap:10px;
    height: 56px;
    padding-left: 20px;
    font-size: 44px;
}
#header-menu #links
{
    display: none;
}
#header-menu #icons
{
    display: none;
}
.logo img
{
    padding-top: 14px;
    grid-column: 2;

    margin-top:0px;
    width: 20px;
    height: 20px;
}
.important-text
{
    padding-bottom: 443px;
    padding-top: 170px;
    padding-left: 0;
    padding-right: 0;
    font-size: 24px;
    text-align: center;
    justify-items: center;
    background-size: 500px;
    background-position:left bottom;
    gap:30px;
    width: 90%;
    margin: auto;

    
}
.see-more
{
    align-items: center;
    display: flex;
    border-radius: 10px; 
    font-size: 16px;
    padding: 7px 30px;
    background-color: black;
    color:white;
    text-decoration: none;
}
.btncircle
{
    margin-left:-17px;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
    height: 30px;
    width: 30px;
    background-image: url("media/arrow.svg");
    background-size: 22px;
}
.buttondiv
{
    width: fit-content;
}
#img-div
{
    display:grid;
    row-gap: 0;
}
.img-content-1
{
    position: relative;
    display: grid;
    grid-template-columns: unset;
}
.img-content-2
{
    width: fit-content;
    position: relative;
    display: grid;
    grid-template-columns: unset;
}
.img-content-3
{
    position: relative;
    display: grid;
    grid-template-columns: unset;
}
.img-content-1 .img-start-div
{
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: unset;
}
.img-content-2 .img-center-div
{
    position: relative;
    display: grid;
    grid-row: 1;
    grid-column: 2;
    grid-template-columns: unset;
}
.img-content-3 .img-end-div
{
    position: relative;
    display: grid;
    grid-row: 3;
    grid-column: 2;
    justify-content: center;
    grid-template-columns: unset;
}
}